html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.header-area{
  height: 60px;
  background-color: red;
}

.full-body{
  overflow-y: auto;
  height: 100%;
}