<!-- opd-session-details.component.html -->
<div class="container">
    <h2 class="mb-4">OPD Session Details</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Session ID: {{this.opdSession.sessionID }}</h5>
        <p class="card-text pt-5">OPD ID: {{this.opdSession.opdid }}</p>
        <p class="card-text pt-5">Doctor ID: {{this.opdSession.doctorID }}</p>
        <p class="card-text pt-5">Started At: {{this.opdSession.startedAt }}</p>
        <p class="card-text pt-5">Description: {{this.opdSession.description }}</p>
        <p class="card-text pt-5">Special Notes: {{this.opdSession.specialNotes }}</p>
        <p class="card-text pt-5" *ngIf="!this.opdSession.isActive">{{this.opdSession.sessionID }}</p>
        <p class="card-text pt-5">Is Active: {{this.opdSession.isActive? 'Active':'Closed' }}</p>
        <p class="card-text pt-5" *ngIf="!this.opdSession.isActive">Closing Note: {{this.opdSession.closingNote }}</p>
        
        <button class="btn btn-primary col-12 mt-3" (click)="goToPrescriptionWriter()">Go to prescription Writer</button>
      </div>
    </div>
  </div>
  