    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <a href="#" class="logo">
          <img src="https://drive.google.com/uc?export=view&id=1bYUhRnjuYmQZ19bY96UvtqGE1oyI8nVH" alt="Your Image Alt Text">
      </a>
      <ul class="side-menu">
        <li *ngFor="let link of links">
            <a [class.active]="link.active" style="text-decoration: none;" [routerLink]="link.route" (click)="setActiveLink(link)">
                <i class='bx {{link.icon}}'></i>{{ link.text }}
              </a>
        </li>
      </ul>
      <ul class="side-menu">
          <li>
              <a href="#" class="logout">
                  <i class='bx bx-log-out-circle'></i>
                  Logout
              </a>
          </li>
      </ul>
  </div>
  <!-- End of Sidebar -->

  <!-- Main Content -->
  <div class="content">
      <!-- Navbar -->
      <nav>
        <i class='bx bx-menu' (click)="toggleSidebar()"></i>
        <form action="#">
              <div class="form-input">
                  <input type="search" placeholder="Search...">
                  <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
              </div>
          </form>
          <input type="checkbox" id="theme-toggle" (change)="toggleTheme()" hidden>
          <label for="theme-toggle" class="theme-toggle"></label>
          <a (click)="openNewSession()" class="notif">
              <i class='bx bx-bell'></i>
              <span class="count">12</span>
          </a>
          <a href="#" class="profile">
              <img src="images/logo.png">
          </a>
      </nav>

      <!-- End of Navbar -->

      <main>
        <router-outlet></router-outlet>
      </main>

  </div>