/* You can add global styles to this file, and also import other style files */
html{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

app-dashboard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 10px;  
    padding-right: 10px;  
}