/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
html{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

app-dashboard{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-left: 10px;  
    padding-right: 10px;  
}
