@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    overflow: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #262c25;
    --dark: #fbfbfb;
    --light-success:#072402;
  }
  
body{
    background: var(--grey);
  }

  /*ngx spinner types*/
@import 'node_modules/ngx-spinner/animations/ball-clip-rotate-multiple.css';
@import 'node_modules/ngx-spinner/animations/ball-clip-rotate-pulse.css';
@import 'node_modules/ngx-spinner/animations/ball-pulse.css';
@import 'node_modules/ngx-spinner/animations/ball-pulse-rise.css';
@import 'node_modules/ngx-spinner/animations/ball-pulse-sync.css';
@import 'node_modules/ngx-spinner/animations/ball-running-dots.css';
@import 'node_modules/ngx-spinner/animations/ball-scale.css';
@import 'node_modules/ngx-spinner/animations/ball-scale-multiple.css';
@import 'node_modules/ngx-spinner/animations/ball-scale-ripple.css';
@import 'node_modules/ngx-spinner/animations/ball-scale-ripple-multiple.css';
@import 'node_modules/ngx-spinner/animations/ball-triangle-path.css';
@import 'node_modules/ngx-spinner/animations/ball-zig-zag.css';
@import 'node_modules/ngx-spinner/animations/ball-zig-zag-deflect.css';
@import 'node_modules/ngx-spinner/animations/cube-transition.css';
@import 'node_modules/ngx-spinner/animations/line-scale.css';
@import 'node_modules/ngx-spinner/animations/line-scale-party.css';
@import 'node_modules/ngx-spinner/animations/line-scale-pulse-out.css';
@import 'node_modules/ngx-spinner/animations/line-scale-pulse-out-rapid.css';
@import 'node_modules/ngx-spinner/animations/square-jelly-box.css';
@import 'node_modules/ngx-spinner/animations/square-loader.css';


