<div class="login-parent">
    <div class="login-box">
        <img src="https://drive.google.com/uc?export=view&id=1bYUhRnjuYmQZ19bY96UvtqGE1oyI8nVH" alt="Your Logo" class="logo">
        <form>
            <div class="user-box">
                <input type="text" name="SectionID" required="" [(ngModel)]="sectionLoginRequest.SectionID">
                <label for="SectionID">Username</label>
            </div>
            <div class="user-box">
                <input type="password" name="Password" required="" [(ngModel)]="sectionLoginRequest.Password">
                <label for="password">Password</label>
            </div>
            <a type="button" (click)="login()" class="col-12 text-center">
                LOGIN
                <span></span>
            </a>
        </form>
    </div>
</div>
